/* css variables for light mode */
:root {
  --main-primary: black;
  --main-secondary: #222;
  --main-bg: transparent;
  --main-bg-solid: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: var(--main-secondary);
  height: 150px;
  padding: 20px;
  color: var(--main-primary);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 8px seems to be the sweet middle on the bootstrap Navbar for center  */
navbar-right {
  margin-right: 0px !important;
}

.log {
  margin: 17px 40px;
  background-color: transparent;
  border: 3px solid var(--main-primary);
  border-radius: 0px;
  padding: 7px 15px 7px 15px;
  color: var(--main-primary);
  font-weight: 900;
}

.log:hover {
  background-color: brown;
  transition: 0.4s;
}

.h1 {
  color: black;
}

.nav-new {
  background-color: black;
  display: block;
}

.logo-align {
  border-right: 20px;
}

.navbar-brand {
  font-weight: 900;
  color: var(--main-primary);
  font-size: 2.5rem;
  width: 300px;
}

.navbar {
  background-size: cover;
  width: 98vw;
  height: 80px;
  margin-bottom: 0px;
  margin-top: 1vh;
  margin-left: 1.8vh;
  border: 0px none transparent;
  color: var(--main-primary);
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  position: absolute;
}

.navbar-default,
.navbar-brand {
  color: var(--main-primary);
  transition: color 500ms;
}

.navbar-nav > li > a {
  color: var(--main-primary);
  font-size: 16px;
}

.navbar-right,
li {
  margin: auto;
  padding: 0;
}

.navbar img {
  display: inline-block;
  max-height: 50px;
  padding-right: 15px;
}

button {
  border: 3px solid var(--main-primary);
  border-radius: 0px;
  background-color: var(--main-bg);
  padding: 15px;
  font-weight: 900;
  font-size: 16px;
  color: var(--main-primary);
}

#search-criteria {
  position: absolute;
  background-color: var(--main-bg-solid);
  float: right;
  z-index: 1;
  margin: 100px 0px 0 20px ;
}

.close-modal {
  float: right;
  background-color: var(--main-primary);
  border: 0 none;
}

.close-modal img {
  height: 40px;
  width: 40px;
}
