/* css variables for light mode */
:root {
  --main-primary: black;
  --main-secondary: #222;
  --main-tertiary: orange;
  --main-bg: transparent;
  --main-bg-solid: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: var(--main-secondary);
  height: 150px;
  padding: 20px;
  color: var(--main-primary);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 8px seems to be the sweet middle on the bootstrap Navbar for center  */
navbar-right {
  margin-right: 0px !important;
}

.log {
  margin: 17px 40px;
  background-color: var(--main-bg);
  border: 3px solid var(--main-primary);
  border-radius: 0px;
  padding: 7px 15px 7px 15px;
  color: var(--main-primary);
  font-weight: 900;
  transition: 500ms;
}

.log:hover {
  color: var(--main-primary);
  background-color: var(--main-tertiary);
  border: 3px solid var(--main-primary);
  transition: 0.4s;
}

.h1 {
  color: black;
}

.nav-new {
  background-color: black;
  display: block;
}

.logo-align {
  border-right: 20px;
}

.navbar-brand {
  width: 300px;
}

.navbar {
  background-size: cover;
  width: 98vw;
  height: 80px;
  margin-bottom: 0px;
  margin-top: 1vh;
  margin-left: 1.8vh;
  border: 0px none transparent;
  color: var(--main-primary);
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  position: absolute;
}

.navbar-default,
.navbar-brand {
  font-weight: 900;
  color: var(--main-primary);
  font-size: 2.5rem;
  transition: color 500ms;
}

.navbar-brand a li {
  padding-top: 15px;
}

a {
  color: var(--main-primary);
  font-weight: 700;
  font-size: 16px;
}

.navbar-right,
li {
  margin: auto;
  padding: 0;
}

.navbar img {
  display: inline-block;
  max-height: 50px;
  padding-right: 15px;
}

.eactModal__Content .ReactModal__Content--after-open {
  background-image: url(../src/assets/img/modal.svg);
}

.ReactModal__Content {
  background-image: url(../src/assets/img/modal.svg);
  margin: auto;
  width: 50vw;
  min-height: fit-content;
  max-height:80vh;
}

#search-criteria {
  position: absolute;
  background-color: var(--main-bg-solid);
  float: right;
  z-index: 1;
  margin: 100px 0px 0 20px ;
  transition: 500ms;
}
#search-criteria:hover {
  border: 3px solid var(--main-primary);
  border-radius: 0px;
  background-color: var(--main-tertiary);
  font-weight: 900;
  color: var(--main-secondary);
  transition: 500ms;
}

button {
  border: 3px solid var(--main-primary);
  border-radius: 0px;
  background-color: var(--main-bg);
  padding: 15px;
  font-weight: 900;
  font-size: 16px;
  color: var(--main-primary);
}

button:hover {
  border: 3px solid var(--main-primary);
  border-radius: 0px;
  background-color: var(--main-tertiary);
  font-weight: 900;
  color: var(--main-secondary);
  transition: 500ms;
}

.close-modal, .close-modal:hover {
  float: right;
  background-color: var(--main-bg);
  border: 0 none;
  padding-top: 0;
  padding-right: 0;
}

.close-modal img {
  height: 40px;
  width: 40px;
  opacity: 100%;
  transition: 200ms;
}

.close-modal:hover {
  opacity: 50%;
  transition: 200ms;
}

form {
  padding: 5px;
  font-weight: 900;
  font-size: 16px;
  color: var(--main-primary);
}

h3 {
  font-size: 2em;
  font-weight: 900;
  color: var(--main-primary);
  text-align: left;
}

select, input {
  border: 3px solid var(--main-primary);
  border-radius: 0px;
  background-color: var(--main-bg);
  padding: 5px;
  margin: auto;
  font-weight: 900;
  font-size: 16px;
  color: var(--main-primary);
  width: 90%;
}

label, option {
  padding: 5px;
  margin: auto;
  font-weight: 900;
  font-size: 16px;
  color: var(--main-primary);
  text-align: right;
}

hr {
  border: 2px solid var(--main-primary);
}