* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

button {
    margin: 2rem 0;
    padding: 1rem 2rem;
    width: 120px;
    cursor: pointer;
}


.profile,
img {
    width: 75px;
    border-radius: 10em;
}

.login,
h5 {
    text-align: center;
}